body {
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: whitesmoke;
  height: 100vh;
  font-family: "Oswald", sans-serif;
}
@mixin flex($flexdirection) {
  display: flex;
  flex-direction: $flexdirection;
  justify-content: center;
  align-items: center;
}
.header {
  @include flex(row);
  padding: 2%;
  margin: 1% 1%;
  height: 20px;
  justify-content: space-between;
  .heading {
    font-size: 50px;
    padding: 1% 4%;
    &:hover {
      color: yellow;
    }
    span {
      font-size: 25px;
    }
  }
}
.active {
  background: linear-gradient(to right, #dc281e, #f00000);
  color: whitesmoke;
  border: none;
  &:hover {
    background-color: rgba(255, 0, 0, 0.61);
  }
}
.big-container {
  @include flex(row);
  width: 100%;
  height: 100vh;
  margin: 1% 0;
  align-items: center;
  .rules {
    width: 50%;
    height: auto;
    h2 {
      font-size: 35px;
      padding: 1% 5%;
    }
    p {
      font-size: 25px;
      padding: 1% 5%;
    }
    ul li {
      list-style-type: none;
      color: antiquewhite;
      font-size: 22px;
      padding: 1% 5%;
    }
  }
  .quiz-selection-container {
    width: 20%;
    height: auto;
    @include flex(column);
    align-items: flex-start;
    padding: 2% 4%;
    .heading {
      width: 100%;
      font-size: 25px;
    }
    .btngrp {
      width: 100%;
      @include flex(column);
      align-items: flex-start;
      padding: 2%;
      .Btn1 {
        width: 120px;
        height: 40px;
        margin: 3% 2%;
        padding: 2%;
        outline: none;
        border: none;
        font-size: 20px;
        font-weight: bold;
        background: yellow;
        color: rgb(90, 80, 80);
        border-radius: 10px;
        &:hover {
          background: rgb(29, 192, 23);
          color: white;
        }
      }
    }
    .score_tab {
      width: 100%;
      font-size: 45px;
      margin: 2%;
    }
  }
}
.small-container {
  @include flex(column);
  width: 100%;
  height: 100vh;
  .question-container {
     background: #5fcef3ce;
    border-radius: 30px;
    width: 60%;
    height: auto;
    padding: 2% 4%;
    margin: 2% 4%;
    @include flex(column);
    justify-content: left;
    // border: 1px solid white;
    .timer-block {
      @include flex(row);
      justify-content: left;
      width: 100%;
      padding: 1% 2%;
      margin: 0;
      span {
        font-size: 35px;
        font-weight: 800;
        color: yellow;
      }
    }
    .questionNoBox {
      width: 100%;
      padding: 1%;
      font-size: 23px;
    }
    .questionBox {
      width: 100%;
      height: auto;
      padding: 2% 1%;
      font-size: 25px;
    }
    .optionBox {
      width: 100%;
      @include flex(column);
      align-items: flex-start;
      .optBox {
        width: 100%;
        height: auto;
        @include flex(row);
        padding: 1%;
        .optBtn {
          width: auto;
          height: auto;
          color: black;
          background: yellow;
          font-weight: bolder;
          font-size: 18px;
          margin: 1% 2%;
          padding: 2%;
          border-radius: 20px;
          border: none;
          outline: none;
          &:active {
            background-color: rgba(255, 255, 0, 0.747);
          }
        }
        label {
          width: 100%;
          height: auto;
          font-size: 22px;
        }
      }
    }
    .btnsBox {
      width: auto;
      @include flex(row);
      justify-content: start;
      padding: 2%;
      .btn {
        width: 150px;
        height: auto;
        margin: 1%;
        padding: 1% 2%;
        outline: none;
        border: none;
        font-size: 20px;
        font-weight: bold;
        background-color: yellow;
        //background: rgb(20, 45, 68);
        color: rgb(0, 0, 0);
        border-radius: 10px;
        &:hover {
          background-color: rgba(255, 255, 0, 0.747);
        }
      }
    }
    .extra {
      @include flex(row);
      width: 100%;
      justify-content: center;
      color: yellow;
      span {
        padding: 0;
        margin: 0;
        margin-left: -18px;
        width: auto;
        font-size: 35px;
      }
      .score_tab {
        width: 30%;
        font-size: 35px;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .header {
    height: 120px;
    margin: 1%;
    justify-content: center;
    .heading {
      font-size: 40px;
      padding: 0;
      span {
        display: block;
        font-size: 25px;
      }
    }
    .timer-block {
      display: none;
    }
  }

  .big-container {
    height: auto;
    @include flex(Column);
    margin: 1% auto;
    .rules {
      width: 100%;
      height: auto;
      h2 {
        font-size: 40px;
        padding: 1% 5%;
      }
      p {
        font-size: 25px;
        padding: 1% 5%;
      }
      ul li {
        list-style-type: none;
        color: antiquewhite;
        font-size: 23px;
        padding: 1% 2%;
      }
    }
    .quiz-selection-container {
      margin: 1%;
      padding: 1%;
      width: 100%;
      height: auto;
      @include flex(Column);
      justify-content: flex-start;
      align-items: flex-start;
      .heading {
        font-size: 35px;
      }
      .btngrp {
        //width: 50%;
        @include flex(column);
        height: auto;
        .Btn1 {
          width: 150px;
          height: auto;
          font-size: 25px;
          margin: 2%;
          padding: 2% 4%;
        }
      }
      .score_tab {
        display: none;
      }
    }
  }
  .small-container {
    height: auto;
    width: auto;
    .question-container {
      width: 80%;
      height: auto;
      margin: 1% 3%;
      .questionNoBox {
        width: 100%;
        font-size: 26px;
      }
      .questionBox {
        width: 100%;
        height: auto;
        padding: 2% 1%;
        font-size: 26px;
      }
      .optionBox {
        width: 100%;
        height: auto;
        @include flex(column);
        justify-content: flex-start;
        align-items: flex-start;
        .optBox {
          width: 100%;
          height: auto;
          @include flex(row);
          justify-content: flex-start;
          padding: 1%;
          margin: 2%;
          label {
            width: auto;
            font-size: 26px;
          }
          .optBtn {
            width: auto;
            height: auto;
            font-size: 25px;
            margin: 1% 2%;
            padding: 3%;
            border-radius: 15px;
          }
        }
      }
      .btnsBox {
        width: 100%;
        @include flex(row);
        flex-wrap: wrap;
        margin: 2%;
        .btn1 {
          width: auto;
          height: auto;
          margin: 2% 2%;
          font-size: 28px;
          color: white;
        }
      }
      .extra {
        display: block;
        @include flex(row);
        width: 100%;
        margin: 1% 2%;
        padding: 2% 5%;
        color: yellow;
        justify-content: center;
        .timer-block {
          width: auto;
          margin: 0 5%;
          span {
            font-size: 30px;
          }
        }
        .score_tab {
          width: 50%;
          font-size: 30px;
        }
      }
    }
  }
}
